*{
    box-sizing: border-box;
}


:root {
    --socialbg:#0A2342;
    --socialbody:#1a1515;
}

html{
    font-size: 10px;
}

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.logo {
    margin-right: 5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top:2rem;
}



nav a {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration-line: none;
    padding: 1.2rem;
    color: black;
    letter-spacing: .2rem;

}

nav a.active{ 
     border-bottom: 2px solid rgb(202, 214, 33);
}

.socials ul {
    display: flex;
    list-style: none;
    margin-top:1.2rem;
}

.social-icon{
    width: 3rem;
    padding: .4rem;
    margin-left:.7rem;
    align-self: center;
    border-radius: .9rem;
    box-shadow: inset 3px 3px 3px 1px #3d3d3d;
    background-image: linear-gradient(45deg, var(--socialbg), var(--socialbody) );

}

.social-icon--bg {fill: none;}
.social-icon--logo{ fill: #C9FBFF;}
.social-icon--logo:hover { fill: rgb(255, 255, 255);}

/* Slider Area */


.carousel {
    position: relative;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container {
    /* background: aquamarine; */
    height: 100%;
    position: relative;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: 250ms ease-in;
}

.carousel__slide {
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button img{
    width: 20px;
}

.carousel__button--left{
    left: 10px;
    z-index: 9999;
}

.carousel__button--right{
    right: 10px;
    z-index: 9999;
}

.carousel__nav{
   display: flex;
   justify-content: center;
   position: relative;
   bottom: 30px;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    padding: 6px;
    background: rgba(51, 51, 51, 0.459);
    margin: 10px;
    position: relative;
}

.carousel__indicator.current-slide{
    background: black;
}