/* ====================
  Initial Declarations
======================= */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,400;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main:#2b6777;
    --lightMain:#c8d8e4;
    --linkDark:#52AB98;
    --lightBackground:#ffffff;
    --Breaker:#f2f2f2;
    --mainTextColor:#000000;
    --hamburgerMenuBg:#fcfcfc;
    --footer:#000000;
    --footerTextBold:#e2e2e2;
    --footerTextLight:#f2f2f296;
    --socialbg:#0A2342;
    --socialbody:#1a1515;
    --buttons:#cad621;
    --sectiontwo:#dfdfdf42;
    --links:#f0f0f0;
    --linkslight:#227c9d;
    --gradient-box-w: linear-gradient(145deg, #d1d1d1, #ffffff)
}

/* =============
    Typography 
=============== */


body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15rem;
  line-height: 1.8;
}

html{
  font-size: 10px;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
}
 
p {
  font-size: 1rem;
}

nav a {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration-line: none;
  font-size: 1.4rem;
}

.carousel__text{
  font-size: 3rem;
}

button {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  margin-right: 5rem;
}

/* =============
     Layout
=============== */


/* header Section */




/* =============
   Hamburger Menu
=============== */


/* 
Mobile Navigation 
*/

.mobile_nav {
  text-align: left;
  background:white;
  position: relative;
  width: 100%;
  padding: .5rem;
  z-index: 99999;
}

.mobile_list {
  position:absolute;
  text-align: left;
  margin-left: 1rem;
  top: 100%;
  right: 0; 
  opacity: 1;
  background:var(--hamburgerMenuBg);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.mobile_list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile_list li {
  padding: 1rem;
}

.mobile_list a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--mainTextColor);
  opacity: 0;
  transition: opacity 150ms ease-in-out;    
  font-weight: 900;
  text-transform: uppercase;
  
}

.mobile_nav a:hover :focus {
  color: white;
}

.nav_toggle:checked ~ .mobile_list {
 transform: scale(1, 1);
}

.nav_toggle:checked ~ .mobile_list a {
 opacity: 1;
 transition: opacity 500ms ease-in-out 100ms;
}

.nav_toggle:checked ~ .nav-toggle-label {
  display: none;
}

.nav_toggle:checked ~ .nav-toggle-close {
  display: block;
}

.nav_toggle {
 display: none;
}

.nav-toggle-close {
  position: absolute;
  top: 35%;
  right: 5px;
  margin-right: 1rem;
  height: 100%;
  display: none;
  cursor: pointer;
 }

.nav-toggle-label {
 position: absolute;
 top: 0;
 right: 0;
 margin-right: 1.5rem;
 height: 100%;
 display: flex;
 align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
   position: relative;
   width: 3.5rem;
   height: .4rem;
   background-color: var(--mainTextColor);
   right: 0;
   cursor: pointer;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
 content: '';
 position: absolute;
 margin: .3rem 0;
}

.nav-toggle-label span::after{
   top: .5rem;
}

.nav-toggle-label span::before{
   bottom: .5rem;
}

.list_img{
  width: 22px;
  margin-right: 1rem;
}


/* 
Mobile Social Media Icons 
*/

.social_mobile{
  width: 60%;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto;
}

.social_mobile{
  opacity: 0;
}

.nav_toggle:checked ~ .mobile_list .social_mobile {
  opacity: 1;
}

.social_width{
  width: 35px;
}

.social_icon{
  fill: var(--mainTextColor);
}

.social_icon--bg{
  fill: var(--hamburgerMenuBg);
}


/* 
Hamburger Menu End
*/


/* Slider Section */

.carousel {
    overflow: hidden;
    width:100%;
    margin: 0 auto;
    margin-bottom: 7rem;
    position: relative;
    list-style: none;
    padding: 0;
  }
  
  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    display: none;
  }
  
  .carousel .carousel__item img {
    width: 100%;
    height:75vh;
    object-fit: cover;
    filter: brightness(40%)
  }
  
  .carousel .carousel__item--visible {
    display: block;
    animation: slide-in-right 500ms;
  }
  
  .carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .dots-container {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dots-container .dot {
    cursor: pointer;
    padding: 4px;
    margin: 0 10px;
    background-color: rgba(248, 248, 248, 0.178);
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dots-container .active,
  .dots-container .dot:hover {
    background-color: #000000;
  }
  

  .carousel__text{
    color: white;
    animation: scale-in-right  2000ms;
  }
  
  .carousel__text-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      max-width: 50%;
      margin-left: 10rem;
      z-index: 9999;
  }

  .carousel__button {
    background: var(--buttons);
    border: none;
    margin-top: 3rem;
    margin-left: 4rem;
    color: rgb(0, 0, 0);
    padding: 12px 20px ;
    border-radius: 6px;
    cursor: pointer;
    animation: slide-in-elliptic-right-fwd  2000ms;
  }



/* About Us Section */


.aboutus{
  max-width:1200px;
  margin: 0 auto;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.aboutus__container {
  height: 300px;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: rgba(145, 145, 145, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--gradient-box-w);
  position: relative;
}

.aboutus__container:hover{
  background-color: var(--buttons);
  color: white;
  cursor: pointer;
  animation: slide-top 1000ms ;
}

.aboutus__container:hover .aboutus__img--mod{
  fill: white
}

.aboutus__container:hover .aboutus__arrow{
  display: block;
}

.aboutus__img {
  width: 5rem;
  position: absolute;
  top: 5%;
  left: 10%;
}

.aboutus__img--mod {
  fill: rgb(182, 194, 12);
}

.aboutus__info{
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.aboutus__arrow {
  width: 30px;
  position: absolute;
  top: 80%;
  left: 10%;
  cursor: pointer;
  display: none;
}




/* clients */


.clients {
  width: 90%;
  max-width:1200px;
  margin: 0 auto;
  margin-bottom: 10rem;
  line-height: 2;
}

.clients__featured{
  position: relative;
}

.clients__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.featured__img {
    width:95%;
    height: 600px;
    object-fit: cover;
}

.featured__back{
  width:50%;
  height: 550px;
  position: absolute;
  left: -3%;
  top: 5%;
  z-index: -10;
}

.clients__info span{
  font-size: 3rem;
  margin-right: 3rem;
}

.counter{
  margin-top: 5rem;
}

.counter h2{
  text-transform: capitalize;
}

.counterOne{
  color: rgb(211, 224, 22);
}

.counterTwo{
  color: rgb(63, 165, 42);
}

.counterThree{
  color: rgb(165, 42, 69);
}



/* =============== 
    Testimonials
================ */


.testimonials{
  width: 100%;
  margin: 0 auto;
  text-transform: capitalize;
  position: relative;
 
}

.testimonials__head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 10rem;
}

.testimonial_images{
  width: 90%;
  margin: 0 auto;
  position: relative;
  min-height: 70vh;
}

.testimonial_images img{
  border-radius: 50%;
}

.test_img{
  position: absolute;
  cursor: pointer;
}


.image_one{
  width: 200px;
  left: 45%;
  animation: shake-horizontal 6000ms infinite;
  border: 5px solid rgb(198, 214, 103);
}

.image_one--para{
    position: absolute;
    width: 300px;
    background-color:#dadada ;
    border-radius: 10px;
    padding: 2rem;
    top: -17%;
    left: 35%;
    display: none;
    z-index: 10;
}

.image_one--para:after {
  content: '';
  position: absolute;
  left: 35%;
  top: 90px;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top: 35px solid #dadada;
}


.image_two{
  width: 100px;
  top: 15%;
  animation: vibrate-1 3000ms infinite;
  border: 5px solid rgb(132, 224, 178);
}

.image_three{
  width: 114px;
  top: 30%;
  left: 35%;
  animation: shake-horizontal 7000ms infinite;
  border: 5px solid rgb(147, 193, 207);
}

.image_four{
  width: 120px;
  height: 120px;
  top: 40%;
  left: 70%;
  animation: vibrate-1 7000ms infinite;
  border: 5px solid rgb(219, 119, 177);
}

.image_five{
  width: 120px;
  height: 120px;
  top: 40%;
  animation: shake-horizontal 5000ms infinite;
  border: 5px solid rgb(219, 213, 255);
}

.image_six{
  width: 200px;
  top: 60%;
  left: 25%;
  animation: vibrate-1 5000ms infinite;
  border: 5px solid var(--main);
}



/* =============== 
    Contact
================ */

.contact{
  width: 100%;
  padding: 1rem;
  background-color: var(--Breaker);
}

.contact_intro {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
}

.contact_form {
   width: 100%;
   padding: 2rem;
   margin-top: 3rem;
}

.input_icons{
  position: absolute;
  width: 20px;
  top: 22%;
  left: 3%;
}

.input_icons__textarea {
  position: absolute;
  width: 20px;
  top: 5%;
  left: 3%;
}

.contact_line{
  position: absolute;
  top: 15%;
  left: 9%;
}

.contact_line__textarea{
  position: absolute;
  top: 4%;
  left: 9%;
}

.contact_container{
  position: relative;
}

.contact_input {
  width: 100%;
  padding:1.8rem 5rem;
  border: 0;
  border-radius: 25px;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  z-index: 9;
}

textarea {
  width: 100%;
  padding:1.5rem 5rem;
  border: 0;
  margin-bottom: 2.5rem;
  border-radius: 25px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

textarea {
  resize: none;
}


::-webkit-input-placeholder { 
  color: var(--main);
}
::-moz-placeholder { 
  color: var(--main);
}
:-ms-input-placeholder { 
  color: var(--main);
}
:-moz-placeholder { 
  color: var(--main);
}

.btn{
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px 20px 5px 20px;
  border: none;
  color: var(--lightBackground);
  background-color: var(--main);
}



/* =============== 
    footer
================ */

footer{
  background-color: #000000;
  color: var(--footerTextLight);
  width: 100%;
  font-size: 1.3rem;
  line-height: 2;
  text-transform: capitalize;
  padding: 3.5rem;
}

footer h3 {
  color: var(--hamburgerMenuBg);
  margin-bottom: 1rem;
}

.footer_company{
  margin-bottom: 3.5rem;
}

.footer_contact{
  margin-bottom: 7rem;
}

hr {
  height: .1rem;
  margin-bottom: 1rem;
  color: var(--footerTextLight);
}

.footer_copyright {
   display: flex;
   justify-content: center;
}

.footer_contact--edit{
  width: 59%;
  max-width:230px;
  display: flex;
  justify-content: space-between;
}

.footer_contact--cont{
  width: 40%;
  max-width:180px;
  display: flex;
  justify-content: space-between;
}

.footer_contact--phone{
  width: 34%;
  max-width:150px;
  display: flex;
  justify-content: space-between;
}

.footer_icons{
  width: 15px;
}


/* =============== 
    Animations
================ */


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}

 @-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

 @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}


 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}





/* ==============
  Media Queries
================= */

@media (max-width:700px){
  .clients__area {
    display: flex;
    flex-direction: column;
  }
   
  .featured__img {
    width:100%;
  }
}

@media (min-width:780px) {
  .mobile_nav{
    display: none;
  }

  .contact{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}