/* ====================
  Initial Declarations
======================= */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,400;1,900&display=swap');

*{
    box-sizing: border-box;
}


:root {
    --socialbg:#0A2342;
    --socialbody:#1a1515;
    --buttons:#cad621;
    --sectiontwo:#dfdfdf42;
    --links:#f0f0f0;
    --linkslight:#227c9d;
    --gradient-box-w: linear-gradient(145deg, #d1d1d1, #ffffff)
}

/* =============
    Typography 
=============== */


body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .15rem;
  line-height: 1.8;
}

html{
  font-size: 10px;
}

h1 {
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
}
 
p {
  font-size: 1.3rem;
}

nav a {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration-line: none;
  font-size: 1.4rem;
}

.carousel__text{
  font-size: 3.5rem;
}

button {
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  margin-right: 5rem;
}

/* =============
     Layout
=============== */


/* header Section */

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    z-index: 10;
}

.navbar--social{
  display: flex;
  justify-content: space-between;
}

.navbarBg {
   background-color: #000000ea; 
   animation: slide-in-top 150ms;
}

nav ul {
    display: flex;
    list-style: none; 
    align-self: center;
}

nav a {
  padding: 1.2rem;
  color: rgb(255, 255, 255);
}

nav a.active{ 
     border-bottom: 2px solid rgb(202, 214, 33);
}

.socials ul {
    display: flex;
    list-style: none;
    margin-top: 2.5rem;
}

.socials li {
  margin: -1rem;
  padding: 0;
}

.social-icon{
    width: 3rem;
    padding: .4rem;
    border-radius: .9rem;
    /* box-shadow: inset 3px 3px 3px 1px #3d3d3d;
    background-image: linear-gradient(45deg, var(--socialbg), var(--socialbody) ); */

}

.social-icon--bg {
  fill: none;
}

.social-icon--logo{ 
  fill: #C9FBFF;
}

.social-icon--logo:hover { 
  fill: rgb(255, 255, 255);
}



/* Slider Section */


.carousel {
    overflow: hidden;
    width:100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
    list-style: none;
    padding: 0;
  }
  
  .carousel .carousel__item,
  .carousel .carousel__item--hidden {
    display: none;
  }
  
  .carousel .carousel__item img {
    width: 100%;
    height:75vh;
    object-fit: cover;
    filter: brightness(40%)
  }
  
  .carousel .carousel__item--visible {
    display: block;
    animation: slide-in-right 500ms;
  }
  
  .carousel .carousel__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .dots-container {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dots-container .dot {
    cursor: pointer;
    padding: 4px;
    margin: 0 10px;
    background-color: rgba(248, 248, 248, 0.178);
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dots-container .active,
  .dots-container .dot:hover {
    background-color: #000000;
  }
  

  .carousel__text{
    color: white;
    animation: scale-in-right  2000ms;
  }
  
  .carousel__text-container {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      max-width: 40%;
      margin-left: 10rem;
      z-index: 9999;
  }

  .carousel__button {
    background: var(--buttons);
    border: none;
    margin-left: 4rem;
    color: rgb(0, 0, 0);
    padding: 12px 20px ;
    border-radius: 6px;
    cursor: pointer;
    animation: slide-in-elliptic-right-fwd  2000ms;
  }



/* About Us Section */


.aboutus{
  max-width:1200px;
  margin: 0 auto;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.aboutus__container {
  height: 300px;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: rgba(145, 145, 145, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: var(--gradient-box-w);
  position: relative;
}

.aboutus__container:hover{
  background-color: var(--buttons);
  color: white;
  cursor: pointer;
  animation: slide-top 1000ms ;
}

.aboutus__container:hover .aboutus__img--mod{
  fill: white
}

.aboutus__container:hover .aboutus__arrow{
  display: block;
}

.aboutus__img {
  width: 5rem;
  position: absolute;
  top: 5%;
  left: 10%;
}

.aboutus__img--mod {
  fill: rgb(182, 194, 12);
}

.aboutus__info{
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.aboutus__arrow {
  width: 30px;
  position: absolute;
  top: 80%;
  left: 10%;
  cursor: pointer;
  display: none;
}




/* clients */


.clients {
  width: 90%;
  max-width:1200px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.clients__featured{
  position: relative;
}

.clients__area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.featured__img {
    width:95%;
    height: 600px;
    object-fit: cover;
}

.featured__back{
  width:50%;
  height: 550px;
  position: absolute;
  left: -3%;
  top: 5%;
  z-index: -10;
}

.clients__info span{
  font-size: 3rem;
  margin-right: 3rem;
}

.counter{
  margin-top: 5rem;
}

.counter h2{
  text-transform: capitalize;
}

.counterOne{
  color: rgb(211, 224, 22);
}

.counterTwo{
  color: rgb(63, 165, 42);
}

.counterThree{
  color: rgb(165, 42, 69);
}
/* =============== 
    Animations
================ */



@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@-webkit-keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
            transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
            transform-origin: -1800px 50%;
    opacity: 1;
  }
}

 @-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}



/* ==============
  Media Queries
================= */

@media (max-width: 800px) {
  .dots-container .dot {
    height: 40px;
    width: 40px;
  }
}